<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head') %>
<body>
    <section class="contenedorAgregarLibro">
        <form action="/agregar-libro" method="post" enctype="multipart/form-data">
            <div class="mb-3 d-flex flex-column gap-2">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" id="titulo" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="titulo">Descripción</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="titulo">Género</label>
                <input type="text" name="genero" id="genero" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="autor">Autor</label>
                <input type="text" name="autor" id="autor" class="form-control">
            </div>
            <div class="mb-3">
                <label for="año">Año</label>
                <input type="text" name="anio" id="anio" class="form-control">
            </div>
            <input type="submit" value="Agregar libro">
        </form>

        <% if (libroAgregado) { %>
            <p><%= libroAgregado %></p>
        <% } %>

        <% if (errorAgregarLibro) { %>
            <p><%= errorAgregarLibro %></p>
        <% } %>

    </div>
</body>
</html>