<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <section class="d-flex justify-content-center align-items-center contenedorIndex">
        <div class="d-flex flex-column text-white justify-content-center align-center text-center p-3 m-auto contenidoIndex">
            <img src="/img/logo.png" alt="logo">
            <h1 class="tituloPrincipal">Te damos la bienvenida a Lecturama</h1>
            <p>Explorá, organizá y disfrutá de tus libros favoritos con nuestra aplicación.</p>
            <div class="botones d-flex gap-4 m-auto">
                <a href="/login">Iniciar sesión</a>
                <a href="/register">Crear una cuenta</a>
            </div>
        </div>
    </section>
</body>
</html>