<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturama</title>
</head>
<body>
    <section class="h-screen w-full bg-blue-600">
        <h1>Te damos la bienvenida en Lecturama</h1>
    </section>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>