<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturama</title>
</head>
<body>
    <section class="h-screen w-full bg-blue-600" style="background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.30)),url('/img/fondoIndex.jpg'); background-size:cover">
        <div>
            <h1>Te damos la bienvenida en Lecturama</h1>
            <p>Explor치, organiz치 y disfrut치 de tus libros favoritos con nuestra aplicaci칩n.</p>
        </div>
    </section>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>