<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <section class="h-screen w-full bg-blue-600" style="background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.30)),url('/img/fondoIndex.jpg'); background-size:cover">
        <div>
            <h1>Te damos la bienvenida en Lecturama</h1>
            <p>Explorá, organizá y disfrutá de tus libros favoritos con nuestra aplicación.</p>
            <div>
                <a href="/login">Iniciar sesión</a>
                <a href="/register">Crear una cuenta</a>
            </div>
        </div>
    </section>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>