<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head') %>
<body>
    <form action="/login" method="POST">
        <input type="text" name="user" id="user">
        <input type="password" name="password" id="password">
        <input type="submit" value="Ingresar">
    </form>

    <% if (wrongLogin) { %>
        <p><%= wrongLogin %></p>
    <% } %>

    <% if (errorLogin) { %>
        <p><%= errorLogin %></p>
    <% } %>

</body>
</html>