<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %>
<body>
    <section class="contenedorRegister">
        <header>
            <a href="/">Volvier al inicio</a>
        </header>
        <h1>Regístrate</h1>
        <form action="/register" method="POST">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" name="apellido" id="apellido" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="user" class="form-label">Nombre de usuario</label>
                <input type="text" name="user" id="user" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <input type="submit" value="Crear cuenta">
        </form>
    
        <% if (wrongUser) { %>
            <p><%= wrongUser %></p>
        <% } %>
    
        <% if (errorRegister) { %>
            <p><%= errorRegister %></p>
        <% } %>
    </section>
</body>
</html>