@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body{
    font-family: "Fira Sans", sans-serif;
}

.contenedorIndex{
    background-image: url('/img/fondoIndex.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Caprasimo", serif;
}

.contenedorIndex img{
    width: 250px;
    margin: auto;
    filter: drop-shadow(
        10px 5px 10px rgba(0,0,0,0.70)
    );
}

.contenidoIndex{
    width: 800px;
    position: absolute;
    top: -20px;
}

.tituloPrincipal{
    color: #FA8126;
    font-size: 60px;
    text-shadow:
    -1px -1px 0 #130830,
     1px -1px 0 #130830,
    -1px  1px 0 #130830,
     1px  1px 0 #130830;
}

.contenidoIndex p{
    color: #1a0b41;
}

.botones a:first-child{
    background-color: #1a0b41;
    color: #FA8126;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:first-child:hover{
    background-color: #FA8126;
    color: #1a0b41;
}

.botones a:last-child{
    background-color: #FA8126;
    color: #1a0b41;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:last-child:hover{
    background-color: #1a0b41;
    color: #FA8126;
}