@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body{
    font-family: "Fira Sans", sans-serif;
}

.contenedorIndex{
    background-image: url('/img/fondoIndex.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Caprasimo", serif;
}

.contenedorIndex img{
    width: 250px;
    margin: auto;
    filter: drop-shadow(
        10px 5px 10px rgba(0,0,0,0.70)
    );
}

.contenidoIndex{
    width: 800px;
    position: absolute;
    top: -20px;
}

.tituloPrincipal{
    color: #FA8126;
    font-size: 60px;
    text-shadow:
    -1px -1px 0 #130830,
     1px -1px 0 #130830,
    -1px  1px 0 #130830,
     1px  1px 0 #130830;
}

.contenidoIndex p{
    color: #1a0b41;
}

.botones a:first-child{
    background-color: #1a0b41;
    color: #FA8126;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:first-child:hover{
    background-color: #FA8126;
    color: #1a0b41;
}

.botones a:last-child{
    background-color: #FA8126;
    color: #1a0b41;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:last-child:hover{
    background-color: #1a0b41;
    color: #FA8126;
}

.contenedorLogin{
    background: linear-gradient(90deg,#FA8126,#2a1069,#130830);
    font-family: "Roboto Slab", serif;
}

.contenedorLogin header{
    width: 100%;
    padding: 2% 0 0 2%;
}

.contenedorLogin header a{
    color: #fff;
}

.contenedorLogin h1{
    position: relative;
    top: 60px;
    font-size: 70px;
}

.contenedorLogin form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 400px;
    height: auto;
    padding: 15px;
    margin-top: 130px;
    border: solid 1px #fff;
    box-shadow: 5px 5px 10px #000;
}

.contenedorLogin form input[type="submit"]{
    background-color: #FA8126;
    color: #2a1069;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.contenedorLogin form input[type="submit"]:hover{
    background-color: #d46a18;
}