@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.contenedorIndex{
    min-height: 100vh;
    min-width: 100%;
    background-image: url('/img/fondoIndex.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Caprasimo", serif;
}

.contenedorIndex img{
    width: 250px;
    margin: auto;
    filter: drop-shadow(
        10px 5px 10px rgba(0,0,0,0.70)
    );
}

.contenidoIndex{
    width: 800px;
    position: absolute;
    top: -20px;
}

.tituloPrincipal{
    color: #FA8126;
    font-size: 60px;
    text-shadow:
    -1px -1px 0 #130830,
     1px -1px 0 #130830,
    -1px  1px 0 #130830,
     1px  1px 0 #130830;
}

.contenidoIndex p{
    color: #1a0b41;
}

.botones a:first-child{
    background-color: #1a0b41;
    color: #FA8126;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:first-child:hover{
    background-color: #FA8126;
    color: #1a0b41;
}

.botones a:last-child{
    background-color: #FA8126;
    color: #1a0b41;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
}

.botones a:last-child:hover{
    background-color: #1a0b41;
    color: #FA8126;
}

.contenedorLogin{
    min-height: 100vh;
    max-width: 100%;
    background: linear-gradient(90deg,#FA8126,#2a1069,#130830);
    font-family: "Roboto Slab", serif;
}

.contenedorLogin header{
    width: 100%;
    padding: 2% 0 0 2%;
}

.contenedorLogin header a{
    color: #fff;
}

.contenedorLogin h1{
    position: relative;
    top: 60px;
    font-size: 70px;
}

.contenedorLogin form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 400px;
    height: auto;
    padding: 15px;
    margin-top: 90px;
    border: solid 1px #fff;
    box-shadow: 5px 5px 10px #000;
}

.contenedorLogin form input[type="submit"]{
    background-color: #FA8126;
    color: #2a1069;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.contenedorLogin form input[type="submit"]:hover{
    background-color: #d46a18;
}

.wrongLogin,.errorLogin,.wrongRegister,.errorRegister{
    background-color: #d46a18;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    padding: 10px;
}

.contenedorRegister{
    min-height: 100vh;
    min-width: 100%;
    background-image: url('/img/fondoRegister.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Caprasimo", serif;
}

.contenedorRegister h1{
    text-align: center;
    font-size: 70px;
    color: #1a0b41;
}

.contenedorRegister form{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedorRegister form input[type="submit"]{
    background-color: #1a0b41;
    width: auto;
    margin: auto;
    border: none;
    color: #d46a18;
    padding: 10px;
}

.contenedorRegister form input[type="submit"]:hover{
    background-color: #2a1069;
}

.contenedorRegister header{
    width: 100%;
    padding: 1% 0 0 2%;
}

.contenedorRegister header a{
    color: #fff;
}

.contenedorInicio{
    font-family: "Ubuntu", sans-serif;
    max-width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
    background-image: url('/img/fondoInicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedorInicio #menu{
    background: linear-gradient(200deg,#130830,#2a1069);
    padding: 15px;
    box-shadow: 8px 7px 10px #000;
}

.contenedorInicio #menu .logo{
    color: #ffF;
    font-size: 30px;
}

.contenedorInicio #menu .navbar-nav{
    display: flex;
    gap: 20px;
}

.contenedorInicio #menu .nav-link{
    font-size: 19px;
    color: #fff;
}

.contenedorInicio .noHayLibros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorInicio .noHayLibros img{
    width: 380px;
    filter: drop-shadow(
        10px 5px 10px rgba(0,0,0,0.70)
    );
}

.contenedorInicio .noHayLibros h1{
    font-size: 45px;
    color: #2a1069;
}

.contenedorInicio .noHayLibros a{
    text-decoration: none;
    background-color: #1a0b41;
    color: #fff;
}

.contenedorInicio .noHayLibros a:hover{
    background-color: #2a1069;
}

.libros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    place-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    margin-top: 5%;
}

.libros .libro{
    width: 300px;
    height: 100%;
    border: solid 2px #fff;
}

.libros .libro img{
    width: 100%;
}

@media (max-width:800px){
    .contenedorIndex img{
        width: 250px;
    }
    .contenidoIndex{
        width: 300px;
        text-align: center;
    }
    .contenidoIndex h1{
        font-size: 40px;
    }
    .botones a:first-child{
        padding: 10px;
    }
    .botones a:last-child{
        padding: 10px;
        text-decoration: none;
        border-radius: 20px;
    }
    .contenedorLogin{
        max-width: 100%;
    }
    .contenedorLogin h1{
        font-size: 50px;
    }
    .contenedorLogin header{
        padding: 7% 0 0 7%;
    }
    .contenedorLogin form{
        width: 300px;
    }
    .contenedorRegister{
        height: auto;
        padding-bottom: 35px;
    }
    .contenedorRegister form{
        justify-content: center;
        align-items: center;
    }
    .contenedorRegister form input{
        width: 350px;
    }
    .contenedorRegister header{
        padding: 3% 0 0 2%;
    }
    .contenedorInicio{
        padding-bottom: 25px;
        max-width: 100%;
    }
    .contenedorInicio .noHayLibros img{
        width: 300px;
    }
    .contenedorInicio .noHayLibros h1{
        text-align: center;
        font-size: 35px;
    }
}